header {
	background: url(../images/header.jpg) no-repeat top center;
	background-size: cover;
	margin: 0 auto;
	padding: 0 15px;
	color: white;
	@media (max-width: 767px) {
		height: 100vh;
		margin: -20px 0 0 0;
	}
	h1 {
		text-align: center;
		font-size: 72px;
		padding: 115px 0;
		@media (max-width: 767px) {
			font-size: 30px;
			padding: 50vh 0;
		}
	}
}